/*----------------------------------------o
|         (c) AgesoftOSS 2023             |
o--------------------------------------- */

@import url("./mobile.css");

/*----------------------------------------o
|                  Root                   |
o--------------------------------------- */

:root {

    /* Colors */

    --RedBoxFore: #fa4141;
    --RedBoxBack: #7d2020;

    --GreenBoxFore: #1dc46b;
    --GreenBoxBack: #146138;

    --BlueBoxFore: #3083ff;
    --BlueBoxBack: #103f85;

    --YellowBoxFore: #ceff52;
    --YellowBoxBack: #615914;

    /* BorderTypes */

    --borderRound: 69px;
    --borderAlmostRound: 17px;
    --borderSoftRound: 7px;

    /* transitions */

    --FastTransitionTime: 0.15s;
    --DefaultTransitionTime: 0.2s;
    --SlowTransitionTime: 0.35s;
    --SlowerTransitionTime: 0.9s;
}

/*----------------------------------------o
|                  Boxes                  |
o--------------------------------------- */

.box {
    padding: 10px;
    margin: 0px 50px;
    border-radius: var(--borderSoftRound);
}

.green_box {
    background: var(--GreenBoxBack);
    color: var(--GreenBoxFore);
    border: solid 2px var(--GreenBoxFore)
}

.red_box, .error_box {
    background: var(--RedBoxBack);
    color: var(--RedBoxFore);
    border: solid 2px var(--RedBoxFore);
}

.blue_box, .information_box, .info_box {
    background: var(--BlueBoxBack);
    color: var(--BlueBoxFore);
    border: solid 2px var(--BlueBoxFore);
}

.yellow_box, .warning_box, .warn_box {
    background: var(--YellowBoxBack);
    color: var(--YellowBoxFore);
    border: solid 2px var(--YellowBoxFore);
}

/*----------------------------------------o
|              Alignment                  |
o--------------------------------------- */

.centre {
    text-align: center !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

/*----------------------------------------o
|              Font Propeties             |
o--------------------------------------- */

.font_mono {
    font-family: monospace !important;
}

.font_serif {
    font-family: serif !important;
}

.font_sans {
    font-family: sans-serif !important;
}

.font_system {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.bold {
    font-weight: bold !important;
}

/*----------------------------------------o
|                 Display                 |
o--------------------------------------- */

.display-block, .block {
    display: block !important;
}

.display-flex, .flex {
    display: flex !important;
}

.display-table, .table {
    display: table !important;
}

/*----------------------------------------o
|                  Margin                 |
o--------------------------------------- */

.m-1 {
    margin: 10px !important;
}

.m-2 {
    margin: 20px !important;
}

.m-3 {
    margin: 30px !important;
}

.m-4 {
    margin: 40px !important;
}

.m-5 {
    margin: 50px !important;
}

.m-6 {
    margin: 60px !important;
}

.m-7 {
    margin: 70px !important;
}

.m-8 {
    margin: 80px !important;
}

/* Vertical */

.my-1 {
    margin: 10px 0px !important;
}

.my-2 {
    margin: 20px 0px !important;
}

.my-3 {
    margin: 30px 0px !important;
}

.my-4 {
    margin: 40px 0px !important;
}

/* Horizontal */

.mx-1 {
    margin: 0px 10px !important;
}

.mx-2 {
    margin: 0px 20px !important;
}

.mx-3 {
    margin: 0px 30px !important;
}

.mx-4 {
    margin: 0px 40px !important;
}

.mx-5 {
    margin: 0px 50px !important;
}

.mx-6 {
    margin: 0px 60px !important;
}

/*----------------------------------------o
|                Padding                  |
o--------------------------------------- */

.p-1, .pad-1 {
    padding: 10px !important;
}

.p-2, .pad-2 {
    padding: 20px !important;
}

.p-3, .pad-3 {
    padding: 30px !important;
}

.p-4, .pad-4 {
    padding: 40px !important;
}

.p-5, .pad-5 {
    padding: 50px !important;
}

.p-6, .pad-6 {
    padding: 60px !important;
}

.p-7, .pad-7 {
    padding: 70px !important;
}

.p-8, .pad-8 {
    padding: 80px !important;
}

/*----------------------------------------o
|                  Button                 |
o--------------------------------------- */

.roundbtn {
    text-decoration: none !important;
    border: none !important;
    border-radius: var(--borderRound) !important;
    padding: 10px 25px !important;
}

/*----------------------------------------o
|                  Hover                  |
o--------------------------------------- */

.hover-darker {
    transition: var(--DefaultTransitionTime) !important;
}

.hover-darker {
    opacity: 70% !important;
}

/*----------------------------------------o
|            Background Color             |
o--------------------------------------- */

/* === [ BLACK ] ===*/

.bg-color-black-140 {
    background: rgb(140, 140, 140) !important;
}

.bg-color-black-130 {
    background: rgb(130, 130, 130) !important;
}

.bg-color-black-120 {
    background: rgb(120, 120, 120) !important;
}

.bg-color-black-110 {
    background: rgb(110, 110, 110) !important;
}

.bg-color-black-100 {
    background: rgb(100, 100, 100) !important;
}

.bg-color-black-90 {
    background: rgb(90, 90, 90) !important;
}

.bg-color-black-80 {
    background: rgb(80, 80, 80) !important;
}

.bg-color-black-70 {
    background: rgb(70, 70, 70) !important;
}

.bg-color-black-60 {
    background: rgb(60, 60, 60) !important;
}

.bg-color-black-50 {
    background: rgb(50, 50, 50) !important;
}

.bg-color-black-40 {
    background: rgb(40, 40, 40) !important;
}

.bg-color-black-35 {
    background: rgb(35, 35, 35) !important;
}

.bg-color-black-30 {
    background: rgb(30, 30, 30) !important;
}

.bg-color-black-25 {
    background: rgb(25, 25, 25) !important;
}

.bg-color-black-20 {
    background: rgb(20, 20, 20) !important;
}

.bg-color-black-15 {
    background: rgb(15, 15, 15) !important;
}

.bg-color-black-10 {
    background: rgb(10, 10, 10) !important;
}

.bg-color-black {
    background: rgb(0, 0, 0) !important;
}

/*----------------------------------------o
|            Foreground Color             |
o--------------------------------------- */

.text-white {
    color: white !important;
}

.text-black {
    color: black !important;
}

/*----------------------------------------o
|              Line Height                |
o--------------------------------------- */

.line-para {
    line-height: 1.6 !important;
}